<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='alert alert-primary'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>