<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="/">トップに戻る</a>
    </p>
    <p class="mb-1">みんなと一緒に撮った画像を保存して共有しよう！家族との思い出を一生形として残しておきましょう！</p>
    <p class="mb-0">新しく思い出を作りたい場合はここをクリック<a href="/memories/new">NewMemoryCreate</a>か<a href="/users/sign_in">ユーザー新規登録</a>をしましょう。</p>
  </div>
</footer>