// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  color: green;
}

.width {
  width: 60vw;
}
.text {
  text-decoration: none;
}

.footer {
  position:absolute;
  bottom: 0;
}
.side{
  display:flex
}
.w-5 {
  width: 50vw;
}
.d-f {
  display: block;
}
.d-c {
  margin-top: 10px;
}
.img-size {
  width: 50px;
  height: 60px;
}